SMARTSHEET_TOKEN=coloque_sua_nova_token_aqui
SMARTSHEET_SHEET_NAME=Progress Tracking Sheet - Piping Fabrication
# SMARTSHEET_SHEET_ID=opcional_mas_recomendado
SMARTSHEET_API_BASE=https://api.smartsheet.com/2.0
POLL_INTERVAL_MS=30000
ACTIVE_PROJECT_ROTATE_MS=8000
SPOOL_PAGE_ROTATE_MS=4000


# Login setorial + persistência no GitHub
SESSION_SECRET=troque-este-segredo
GITHUB_REPO=stepmanus-boop/Step-Gerencia
GITHUB_BRANCH=main
GITHUB_TOKEN=ghp_coloque_seu_token_aqui
SESSION_TTL_MS=604800000
